html(lang='es')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title='SoR || Chat en vivo'
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="/style.css")
    body
        nav(class="navbar navbar-expand-lg navbar-dark shadow-5-strong")
            div(class="container-fluid")
                a(class="navbar-brand" href="/")
                    img(src="https://cdn.pixabay.com/photo/2017/08/31/04/01/d20-2699387_1280.png" alt="logo" width="50" height="50")
                button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                    span(class="navbar-toggler-icon")
                div(class="collapse navbar-collapse" id="navbarNav")
                    ul(class="navbar-nav me-auto mb-2 mb-lg-0")
                        li(class="nav-item")
                            a(class="nav-link" href="/")='Inicio'
                        li(class="nav-item")
                            a(class="nav-link" href="/productos")='Productos'
                        if mod
                            li(class="nav-item")
                                a(class="nav-link" href="/nuevoProducto")='Ingresar nuevo producto'
                        li(class="nav-item")
                            a(class="nav-link active" href="/chat")='Chat'
                    div(class="d-flex")
                        a(href="/cart" class="btn btn-primary text-white shadow")
                            i(class="fa fa-shopping-cart" aria-hidden="true")
        div(class='main-section mx-auto w-75')
            section(class="msger")
                header(class="msger-header")='Chat de la comunidad'
                    a(class="btn btn-danger rounded-0" type="button" data-toggle="tooltip" href=`/vaciarchat` title="Vaciar")
                            i(class="fa fa-times")
                main(class="msger-chat")
                    each m in mensajes
                        div(class="msg left-msg")
                            div(class="msg-img" style="background-image: url(https://i.pinimg.com/564x/3b/b7/46/3bb746efe9e3f38f946f31db4dd1dba5.jpg)")
                            div(class="msg-bubble")
                                div(class="msg-info")
                                    div(class="msg-info-name")=`${m.nick}`
                                    div(class="msg-info-time")=`${m.createdAt.getHours()}:${m.createdAt.getMinutes()}`
                                div(class="msg-text")=`${m.mensaje}`
                    div(id='messages')
                form(class="msger-inputarea" onsubmit="sendMsg(this); return false")
                    input(type="text" class="msger-input" id="msg" name="msg" required placeholder="Mensaje")
                    input(type="submit" id="insert" class="msger-send-btn" value="Enviar")
        
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous")
    script(src="/socket.io/socket.io.js")
    script(src="/chat.js")